<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Amigos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        Nome
      </ion-label>
      <ion-label>
        Idade
      </ion-label>
      <ion-label>
        Nível de amizade
      </ion-label>
      <ion-label></ion-label>
    </ion-item>
    <ion-item *ngFor='let a of amigos; let i = index'>
      <ion-label>{{a.nome}}</ion-label>
      <ion-label>{{a.idade}}</ion-label>
      <ion-label>{{a.nivel}}</ion-label>
      <ion-label><ion-button (click)='amigosAction(a)'>+</ion-button></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
